<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/layui/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label">管理员账号：</label>
        <div class="layui-input-block">

            <input type="text" readonly name="adminName"   th:value="${ad.adminName}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">管理员手机号</label>
        <div class="layui-input-block">
            <input type="text" readonly name="adminPhone" th:value="${ad.adminPhone}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建人ID</label>
        <div class="layui-input-block">
            <input type="text" readonly name="adminAuthoId" th:value="${ad.adminAuthoId}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
    <label class="layui-form-label">创建时间</label>
    <div class="layui-input-block">
        <input type="text" readonly placeholder="yyyy-MM-dd" id="adminRoleTime" name="adminRoleTime"
         th:value="${ad.adminRoleTime}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限ID</label>
        <div class="layui-input-block">
            <input type="text" readonly name="adminAuthoId" th:value="${ad.adminAuthoId}"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限名</label>
        <div class="layui-input-block">
            <input type="text" readonly name="adminAuthoId" th:value="${ad.adminAuthoName}"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">日志操作时间(开始)</label>
        <div class="layui-input-block">
            <input type="text" readonly name="adminAuthoId" th:value="${ad.adminUsertime}"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">日志操作时间(结束)</label>
        <div class="layui-input-block">
            <input type="text" readonly name="adminAuthoId" th:value="${ad.adminEndtime}"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">关闭</button>
        </div>
    </div>
</div>
<script src="/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$,
            laydate = layui.laydate;

        form.on('submit(saveBtn)', function (data) {

                    parent.layer.closeAll();

                });
        return false;
            });

</script>
</body>
</html>