<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <form>
        用户名：
        <input type="text" id="userName" name="userName"><br>
        密码:
        <input type="text" id="userPassword" name="userPassword"><br>
        <input type="button" id="login" value="登录">
    </form>
</body>
<script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
<script>
   $(document).ready(function () {

       $("input[type='button']").click(function () {

            var userName = $("#userName").val();
            alert(userName);
            var userPassword = $("#userPassword").val();
            $.post("/user/loginUser",{"userName":userName,"userPassword":userPassword},function (res) {

                if (res.code=="0"){
                    // alert(res.msg);

                }
            },"json");

        })

    })
</script>
</html>