<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/layui/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">申请ID（用户ID）</label>
        <div class="layui-input-block">
            <input type="text" name="relationUserId" lay-verify="required" lay-reqtext="申请ID（用户ID）不能为空" placeholder="请输入申请ID（用户ID）" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">申请理由</label>
        <div class="layui-input-block">
            <input type="text" name="relationReason" lay-verify="required" lay-reqtext="申请理由不能为空" placeholder="请输入申请理由" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">申请人电话</label>
        <div class="layui-input-block">
            <input type="text" name="relationPhone" lay-verify="required" lay-reqtext="申请人电话不能为空" placeholder="请输入申请人电话" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">领养发布ID</label>
        <div class="layui-input-block">
            <input type="text" name="relationAdoptId" lay-verify="required" lay-reqtext="领养发布ID不能为空" placeholder="请输入领养发布ID" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form','laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$,
            laydate = layui.laydate;

        /* //日期
         laydate.render({
             elem: '#adminRoleTime'
         });*/
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            parent.layer.load(1, {shade: [0.1,'#fff'] });//开启遮罩

            $.post("/relation/saveRelation",data.field,function(res){
                var index = parent.layer.alert(res.msg, function () {
                    //刷新表格
                    parent.tab.reload();
                    // 关闭弹出层
                    parent.layer.close(index);
                    parent.layer.closeAll();
                });

            },"json");
            return false;
        });

    });
</script>
</body>
</html>