<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.dao.AdminDao">

    <sql id="admin_where">
        <where>
            <if test="adminName!=null and adminName!=''">
                admin_name like concat('%',#{adminName},'%')
            </if>
            <if test="adminPhone!=null and adminPhone!=''">
                and admin_phone like concat('%',#{adminPhone},'%')
            </if>
        </where>
    </sql>

    <delete id="deleteAdminById">
        delete from admin where admin_id=#{adminId}
    </delete>

    <update id="updateAdmin" >
        update admin
        <set>
            <if test="adminName!=null and adminName!=''">admin_name=#{adminName},</if>
            <if test="adminPassword!=null and adminPassword!=''">admin_password=#{adminPassword},</if>
            <if test="adminPhone!=null and adminPhone!=''">admin_phone=#{adminPhone},</if>
            <if test="adminAuthoId!=null and adminAuthoId!=''">admin_autho_id=#{adminAuthoId}</if>
        </set>
        where admin_id=#{adminId}
    </update>

    <insert id="saveAdmin" >
        insert into admin(
        <trim suffixOverrides=",">
            <if test="adminName!=null and adminName!=''">admin_name,</if>
            <if test="adminPassword!=null and adminPassword!=''">admin_password,</if>
            <if test="adminPhone!=null and adminPhone!=''">admin_phone,</if>
            <if test="adminRoleAuthoId!=null and adminRoleAuthoId!=''">admin_role_autho_id,</if>
            <if test="adminAuthoId!=null and adminAuthoId!=''">admin_autho_id,</if>
        </trim>
        )
        values (
        <trim suffixOverrides=",">
            <if test="adminName!=null and adminName!=''">#{adminName},</if>
            <if test="adminPassword!=null and adminPassword!=''">#{adminPassword},</if>
            <if test="adminPhone!=null and adminPhone!=''">#{adminPhone},</if>
            <if test="adminRoleAuthoId!=null and adminRoleAuthoId!=''">#{adminRoleAuthoId},</if>
            <if test="adminAuthoId!=null and adminAuthoId!=''">#{adminAuthoId},</if>
        </trim>
        )
    </insert>

    <select id="findAdminList" resultType="Admin">
        select * from admin
        <include refid="admin_where"/>
        order by admin_id asc limit #{pyl},#{pageSize}
    </select>

    <select id="AdminCount" resultType="Integer">
        select count(1) from  admin
        <include refid="admin_where"/>
    </select>

    <select id="findAdminById" resultType="Admin">
        select * from admin where admin_id=#{adminId}
    </select>

</mapper>