<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.dao.AdoptDao">

    <resultMap id="adoptMap" type="Adopt">
        <id property="adoptId" column="adopt_id"></id>
        <result property="adoptUserId" column="adopt_user_id"></result>
        <result property="adoptType" column="adopt_type"></result>
        <result property="adoptPethelps" column="adopt_pethelps"></result>
        <result property="adoptDisposetime" column="adopt_disposetime"></result>
        <result property="adoptReview" column="adopt_review"></result>
        <result property="adoptAdminId" column="adopt_admin_id"></result>
        <result property="adoptType" column="adopt_type"></result>
        <result property="adoptTime" column="adopt_time"></result>
        <result property="adoptMessage" column="adopt_message"></result>
        <collection property="user" ofType="User">
            <id property="userId" column="user_id"></id>
            <result property="userAge" column="user_age"></result>
            <result property="userTime" column="user_time"></result>
            <result property="userHead" column="user_head"></result>
            <result property="userPhone" column="user_phone"></result>
            <result property="userState" column="user_state"></result>
            <result property="userAutonym" column="user_autonym"></result>
            <result property="userAddress" column="user_address"></result>
            <result property="userComment" column="user_comment"></result>
            <result property="userPassword" column="user_password"></result>
            <result property="userSex" column="user_sex"></result>
            <result property="userApprove" column="user_approve"></result>
            <result property="userName" column="user_name"></result>
            <result property="userPets" column="user_pets"></result>
        </collection>
    </resultMap>

    <sql id="adopt_where">
        <where>
            <if test="adoptType!=null and adoptType!=''">
                adopt_type like concat('%',#{adoptType},'%')
            </if>
            <if test="adoptTime!=null and adoptTime!=''">
                and adopt_time like concat('%',#{adoptTime},'%')
            </if>
        </where>
    </sql>

    <select id="findAdoptList"  resultMap="adoptMap">
        select * from adopt a left join user b on a.adopt_user_id=b.user_id
        <include refid="adopt_where"/>
        limit #{pyl},#{pageSize}
    </select>

    <select id="AdoptCount" resultType="Integer">
        select count(1) from  adopt  left join user  on adopt_user_id=user_id
        <include refid="adopt_where"/>
    </select>

    <insert id="saveAdopt" >
        insert into adopt(adopt_user_id,adopt_type,adopt_message,adopt_pethelps,adopt_review,adopt_del,adopt_admin_id)
        values (#{adoptUserId},#{adoptType},#{adoptMessage},#{adoptPethelps},#{adoptReview},#{adoptDel},#{adoptAdminId})
    </insert>

    <select id="findAdoptById" resultType="Adopt">
        select * from adopt where adopt_id=#{adoptId}
    </select>


    <delete id="deleteAdoptById">
        delete from adopt where adopt_id=#{adoptId}
    </delete>
    <update id="updateAdopt" >
        update adopt
        <set>
            <if test="adoptType!=null and adoptType!=''">adopt_type=#{adoptType},</if>
            <if test="adoptMessage!=null and adoptMessage!=''">adopt_message=#{adoptMessage},</if>
            <if test="adoptPethelps!=null and adoptPethelps!=''">adopt_pethelps=#{adoptPethelps},</if>
            <if test="adoptDel!=null and adoptDel!=''">adopt_del=#{adoptDel},</if>
            <if test="adoptAdminId!=null and adoptAdminId!=''">adopt_admin_id=#{adoptAdminId},</if>
            <if test="adoptReview!=null ">adopt_review=#{adoptReview}</if>
        </set>
        where adopt_id=#{adoptId}
    </update>

    <select id="seeAdoptById" resultType="Adopt">
        select * from adopt where adopt_id=#{adoptId}
    </select>
</mapper>