<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.dao.CertificateDao">


       <sql id="cert_where">
        <where>
            <if test="certId!=null">
                cert_id like concat('%',#{certId},'%')
            </if>
            <if test="certPetId!=null">
                and  cert_pet_id like  concat('%',#{certPetId},'%')
            </if>
        </where>
    </sql>

    <update id="updateCertificate" >
        update certificate
        <set>
            <if test="certDesc!=null">cert_desc=#{certDesc},</if>
            <if test="certUrl!=null">cert_url=#{certUrl}</if>
        </set>
        where cert_pet_id=#{certPetId}
    </update>

    <insert id="saveCertificate">
        insert into certificate(cert_id,cert_desc,cert_pet_id,cert_url)
        values(#{certId},#{certDesc},#{certPetId},#{certUrl})
    </insert>
    <select id="certificateCount" resultType="Integer">
        select count(1) from  certificate
        <include refid="cert_where"/>
    </select>

    <select id="certificateList" resultType="certificate">
        select * from certificate
        <include refid="cert_where"/>
        order by cert_id asc limit #{pyl},#{pageSize}
    </select>
    <select id="findCertificateById" resultType="certificate">
        select * from certificate where cert_pet_id=#{certPetId}
    </select>

    <delete id="deleteCertificateById">
        delete from certificate where cert_pet_id=#{certPetId}
    </delete>
</mapper>