<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.dao.HelpMemberDao">

    <resultMap id="HelpmemberMap" type="Helpmember">
    <id property="helpmemberId" column="helpmember_id"></id>
    <result property="helpmemberUserId" column="helpmember_user_id"></result>
    <result property="helpmemberPethelpId" column="helpmember_pethelp_id"></result>
    <result property="helpmemberReason" column="helpmember_reason"></result>
    <result property="helpmemberTime" column="helpmember_time"></result>
    <result property="helpmemberPhone" column="helpmember_phone"></result>
    <result property="helpmemberRname" column="helpmember_rname"></result>
    <result property="helpmemberUserIdcard" column="helpmember_user_idcard"></result>
    <result property="helpmemberImg" column="helpmember_img"></result>
    <result property="helpmemberAddress" column="helpmember_address"></result>
    <result property="helpmemberState" column="helpmember_state"></result>
    <result property="helpmemberPethelpAdminId" column="helpmember_pethelp_admin_id"></result>
    <result property="helpmemberOpinion" column="helpmember_opinion"></result>
    <result property="helpmemberDisposetime" column="helpmember_disposetime"></result>
    <association property="user" javaType="User">
        <id property="userId" column="user_id"></id>
        <result property="userAge" column="user_age"></result>
        <result property="userTime" column="user_time"></result>
        <result property="userHead" column="user_head"></result>
        <result property="userPhone" column="user_phone"></result>
        <result property="userState" column="user_state"></result>
        <result property="userAutonym" column="user_autonym"></result>
        <result property="userAddress" column="user_address"></result>
        <result property="userComment" column="user_comment"></result>
        <result property="userPassword" column="user_password"></result>
        <result property="userSex" column="user_sex"></result>
        <result property="userApprove" column="user_approve"></result>
        <result property="userName" column="user_name"></result>
        <result property="userPets" column="user_pets"></result>
    </association>
    </resultMap>

    <sql id="helpmember_where">
        <where>
            <if test="helpmemberRname!=null and helpmemberRname!=''">
                helpmember_rname like concat('%',#{helpmemberRname},'%')
            </if>
            <if test="helpmemberAddress!=null and helpmemberAddress!=''">
                and helpmember_address like concat('%',#{helpmemberAddress},'%')
            </if>
        </where>
    </sql>
    <!--查询救助队队员-->
    <select id="findHelpmemberList" resultMap="HelpmemberMap">
        select * from helpmember a left join user b on a.helpmember_user_id=b.user_id
        <include refid="helpmember_where"/>
        order by helpmember_id asc limit #{pyl},#{pageSize}
    </select>

    <select id="HelpmemberCount" resultType="Integer">
        select count(1) from  helpmember
        <include refid="helpmember_where"/>
    </select>
    <!--根据ID查询救助队队员-->
    <select id="findHelpmemberById" resultType="Helpmember">
        select * from helpmember where helpmember_id=#{helpmemberId}
    </select>
    <!--新增救助队队员-->
    <insert id="saveHelpmember">
        insert into helpmember(
        <trim suffixOverrides=",">
            <if test="helpmemberUserId!=null and helpmemberUserId!=''">helpmember_user_id,</if>
            <if test="helpmemberPethelpId!=null and helpmemberPethelpId!=''">helpmember_pethelp_id,</if>
            <if test="helpmemberPhone!=null and helpmemberPhone!=''">helpmember_phone,</if>
            <if test="helpmemberRname!=null and helpmemberRname!=''">helpmember_rname,</if>
            <if test="helpmemberIdcard!=null and helpmemberIdcard!=''">helpmember_idcard,</if>
            <if test="helpmemberImg!=null and helpmemberImg!=''">helpmember_img,</if>
            <if test="helpmemberAddress!=null and helpmemberAddress!=''">helpmember_address,</if>
            <if test="helpmemberTime!=null and helpmemberTime!=''">helpmember_time,</if>
            <if test="helpmemberReason!=null and helpmemberReason!=''">helpmember_reason</if>
        </trim>
        )
        values (
        <trim suffixOverrides=",">
            <if test="helpmemberUserId!=null and helpmemberUserId!=''">#{helpmemberUserId},</if>
            <if test="helpmemberPethelpId!=null and helpmemberPethelpId!=''">#{helpmemberPethelpId},</if>
            <if test="helpmemberPhone!=null and helpmemberPhone!=''">#{helpmemberPhone},</if>
            <if test="helpmemberRname!=null and helpmemberRname!=''">#{helpmemberRname},</if>
            <if test="helpmemberIdcard!=null and helpmemberIdcard!=''">#{helpmemberIdcard},</if>
            <if test="helpmemberImg!=null and helpmemberImg!=''">#{helpmemberImg},</if>
            <if test="helpmemberAddress!=null and helpmemberAddress!=''">#{helpmemberAddress},</if>
            <if test="helpmemberTime!=null and helpmemberTime!=''">#{helpmemberTime},</if>
            <if test="helpmemberReason!=null and helpmemberReason!=''">#{helpmemberReason}</if>
        </trim>
        )

    </insert>
    <!--修改救助队队员信息-->
    <update id="updateHelpmember" >
        update helpmember
        <set>
            <if test="helpmemberPhone!=null and helpmemberPhone!=''">helpmember_phone=#{helpmemberPhone},</if>
            <if test="helpmemberImg!=null and helpmemberImg!=''">helpmember_img=#{helpmemberImg},</if>
            <if test="helpmemberAddress!=null and helpmemberAddress!=''">helpmember_address=#{helpmemberAddress},</if>
            <if test="helpmemberState!=null ">helpmember_state=#{helpmemberState}</if>
        </set>
        where helpmember_id=#{helpmemberId}
    </update>
    <!--删除救助队-->
    <delete id="deleteHelpmemberById">
        delete from helpmember where helpmember_id=#{helpmemberId}
    </delete>
</mapper>