<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.dao.PetHelpDao">

    <resultMap id="PethelpMap" type="Pethelp">
        <id property="pethelpId" column="pethelp_id"></id>
        <result property="pethelpName" column="pethelp_name"></result>
        <result property="pethelpUserId" column="pethelp_user_id"></result>
        <result property="pethelpImg" column="pethelp_img"></result>
        <result property="pethelpUserPhone" column="pethelp_user_phone"></result>
        <result property="pethelpAddress" column="pethelp_address"></result>
        <result property="pethelpPapersNum" column="pethelp_papers_num"></result>
        <result property="pethelpPapersImg" column="pethelp_papers_img"></result>
        <result property="pethelpHomeAddress" column="pethelp_home_address"></result>
        <result property="pethelpState" column="pethelp_state"></result>
        <result property="pethelpAdminId" column="pethelp_admin_id"></result>
        <result property="pethelpOpinion" column="pethelp_opinion"></result>
        <result property="pethelpDisposetime" column="pethelp_disposetime"></result>
        <association property="user" javaType="User">
            <id property="userId" column="user_id"></id>
            <result property="userAge" column="user_age"></result>
            <result property="userTime" column="user_time"></result>
            <result property="userHead" column="user_head"></result>
            <result property="userPhone" column="user_phone"></result>
            <result property="userState" column="user_state"></result>
            <result property="userAutonym" column="user_autonym"></result>
            <result property="userAddress" column="user_address"></result>
            <result property="userComment" column="user_comment"></result>
            <result property="userPassword" column="user_password"></result>
            <result property="userSex" column="user_sex"></result>
            <result property="userApprove" column="user_approve"></result>
            <result property="userName" column="user_name"></result>
            <result property="userPets" column="user_pets"></result>
        </association>

    </resultMap>
    <sql id="pethelp_where">
        <where>
            <if test="pethelpName!=null and pethelpName!=''">
                pethelp_name like concat('%',#{pethelpName},'%')
            </if>
            <if test="pethelpUserPhone!=null and pethelpUserPhone!=''">
                and pethelp_user_phone like concat('%',#{pethelpUserPhone},'%')
            </if>
        </where>
    </sql>

    <!--查询救助队-->
    <select id="findPethelpList" resultMap="PethelpMap">
        select * from pethelp a left join user b on a.pethelp_user_id=b.user_id
        <include refid="pethelp_where"/>
        order by pethelp_id asc limit #{pyl},#{pageSize}
    </select>

    <select id="PethelpCount" resultType="Integer">
        select count(1) from  pethelp
        <include refid="pethelp_where"/>
    </select>
    <!--根据ID查询救援队-->
    <select id="findPethelpById" resultType="Pethelp">
        select * from pethelp where pethelp_id=#{pethelpId}
    </select>
    <!--新增救助队-->
    <insert id="savePethelp">
        insert into pethelp(
        <trim suffixOverrides=",">
            <if test="pethelpName!=null and pethelpName!=''">pethelp_name,</if>
            <if test="pethelpUserId!=null and pethelpUserId!=''">pethelp_user_id,</if>
            <if test="pethelpImg!=null and pethelpImg!=''">pethelp_img,</if>
            <if test="pethelpUserPhone!=null and pethelpUserPhone!=''">pethelp_user_phone,</if>
            <if test="pethelpAddress!=null and pethelpAddress!=''">pethelp_address,</if>
            <if test="pethelpPapersNum!=null and pethelpPapersNum!=''">pethelp_papers_num,</if>
            <if test="pethelpPapersImg!=null and pethelpPapersImg!=''">pethelp_papers_img,</if>
            <if test="pethelpHomeAddress!=null and pethelpHomeAddress!=''">pethelp_home_address</if>
        </trim>
        )
        values (
        <trim suffixOverrides=",">
            <if test="pethelpName!=null and pethelpName!=''">#{pethelpName},</if>
            <if test="pethelpUserId!=null and pethelpUserId!=''">#{pethelpUserId},</if>
            <if test="pethelpImg!=null and pethelpImg!=''">#{pethelpImg},</if>
            <if test="pethelpUserPhone!=null and pethelpUserPhone!=''">#{pethelpUserPhone},</if>
            <if test="pethelpAddress!=null and pethelpAddress!=''">#{pethelpAddress},</if>
            <if test="pethelpPapersNum!=null and pethelpPapersNum!=''">#{pethelpPapersNum},</if>
            <if test="pethelpPapersImg!=null and pethelpPapersImg!=''">#{pethelpPapersImg},</if>
            <if test="pethelpHomeAddress!=null and pethelpHomeAddress!=''">#{pethelpHomeAddress}</if>
        </trim>
        )

    </insert>
    <!--修改救助队-->
    <update id="updatePethelp" >
        update pethelp
        <set>
            <if test="pethelpName!=null and pethelpName!=''">pethelp_name=#{pethelpName},</if>
            <if test="pethelpImg!=null and pethelpImg!=''">pethelp_img=#{pethelpImg},</if>
            <if test="pethelpUserPhone!=null and pethelpUserPhone!=''">pethelp_user_phone=#{pethelpUserPhone},</if>
            <if test="pethelpAddress!=null and pethelpAddress!=''">pethelp_address=#{pethelpAddress},</if>
            <if test="pethelpHomeAddress!=null and pethelpHomeAddress!=''">pethelp_home_address=#{pethelpHomeAddress}</if>
        </set>
        where pethelp_id=#{pethelpId}
    </update>
    <!--删除救助队-->
    <delete id="deletePethelpById">
        delete from pethelp where pethelp_id=#{pethelpId}
    </delete>
</mapper>