<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.dao.PetHelpDao">

    <sql id="pethelp_where">
        <where>
            <if test="pethelpName!=null">
                pethelp_name like concat('%',#{pethelpName},'%')
            </if>
            <if test="pethelpUserPhone!=null">
                and pethelp_user_phone like concat('%',#{pethelpUserPhone},'%')
            </if>
        </where>
    </sql>

    <!--查询救助队-->
    <select id="findPethelpList" resultType="Pethelp">
        select * from pethelp
        <include refid="pethelp_where"/>
        order by pethelp_id asc limit #{pyl},#{pageSize}
    </select>

    <select id="PethelpCount" resultType="Integer">
        select count(1) from  pethelp
        <include refid="pethelp_where"/>
    </select>

    <select id="findPethelpById" resultType="Pethelp">
        select * from pethelp where pethelp_id=#{pethelpId}
    </select>
    <!--新增救助队-->
    <insert id="savePethelp">
        insert into pethelp(
        pethelp_name,
        pethelp_user_id,
        pethelp_img,
        pethelp_user_phone,
        pethelp_address,
        pethelp_papers_num,
        pethelp_papers_img,
        pethelp_home_address
        )
        values (
        #{pethelpName},
        #{pethelpUserId},
        #{pethelpImg},
        #{pethelpUserPhone},
        #{pethelpAddress},
        #{pethelpPapersNum},
        #{pethelpPapersImg},
        #{pethelpHomeAddress}
        )

    </insert>
    <!--修改救助队-->
    <update id="updatePethelp" >
        update pethelp
        <set>
            <if test="pethelpName!=null">pethelp_name=#{pethelpName},</if>
            <if test="pethelpImg!=null">pethelp_img=#{pethelpImg},</if>
            <if test="pethelpUserPhone!=null">pethelp_user_phone=#{pethelpUserPhone},</if>
            <if test="pethelpAddress!=null">pethelp_address=#{pethelpAddress},</if>
            <if test="pethelpHomeAddress!=null">pethelp_home_address=#{pethelpHomeAddress}</if>
        </set>
        where pethelp_id=#{pethelpId}
    </update>
    <!--删除救助队-->
    <delete id="deletePethelpById">
        delete from pethelp where pethelp_id=#{pethelpId}
    </delete>
</mapper>