<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.dao.RelationDao">
    <sql id="relation_where">
        <where>
            <if test="relationAdoptId!=null and relationAdoptId!=''">
                relation_adopt_id like concat('%',#{relationAdoptId},'%')
            </if>
            <if test="relationUserId!=null and relationUserId!=''">
                and relation_user_id like concat('%',#{relationUserId},'%')
            </if>
        </where>
    </sql>

    <update id="updateRelation">
        update relation
        <set>
            <if test="relationPhone!=null and relationPhone!=''">relation_phone=#{relationPhone},</if>
            <if test="relationReason!=null and relationReason!=''">relation_reason=#{relationReason}</if>
        </set>
        where relation_id=#{relationId}
    </update>
    <insert id="saveRelation" >
        insert into relation(
        <trim suffixOverrides=",">
            <if test="relationReason!=null and relationReason!=''">relation_reason,</if>
            <if test="relationPhone!=null and relationPhone!=''">relation_phone,</if>
            <if test="relationTime!=null and relationTime!=''">relation_time,</if>
            <if test="relationId!=null and relationId!=''">relation_id,</if>
            <if test="relationAdoptId!=null and relationAdoptId!=''">relation_adopt_id,</if>
            <if test="relationUserId!=null and relationUserId!=''">relation_user_id</if>
        </trim>
        )
        values (
        <trim suffixOverrides=",">
            <if test="relationReason!=null and relationReason!=''">#{relationReason},</if>
            <if test="relationPhone!=null and relationPhone!=''">#{relationPhone},</if>
            <if test="relationTime!=null and relationTime!=''">#{relationTime},</if>
            <if test="relationId!=null and relationId!=''">#{relationId},</if>
            <if test="relationAdoptId!=null and relationAdoptId!=''">#{relationAdoptId},</if>
            <if test="relationUserId!=null and relationUserId!=''">#{relationUserId}</if>
        </trim>
        )
    </insert>


    <select id="relationCount" resultType="Integer">
        select count(1) from  relation
        <include refid="relation_where"/>
    </select>
    <select id="findRelationList" resultType="Relation">
        select * from relation
        <include refid="relation_where"/>
        order by relation_id asc limit #{pyl},#{pageSize}
    </select>
    <select id="findRelationById" resultType="relation">
    select * from relation where relation_id=#{relationId}
</select>

    <delete id="deleteRelationById">
        delete from relation where relation_id=#{relationId}
    </delete>
</mapper>