<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.dao.RoleDao">

    <sql id="role_where">
        <where>
            <if test="roleName!=null">
                role_name like concat('%',#{roleName},'%')
            </if>
            <if test="roleTime!=null">
                and role_time like concat('%',#{roleTime},'%')
            </if>
        </where>
    </sql>

    <select id="findRoleList" resultType="Role">
    select * from role
    <include refid="role_where"/>
    limit #{pyl},#{pageSize}
    </select>


    <select id="roleCount" resultType="Integer">
        select count(1) from role
        <include refid="role_where"/>
    </select>


    <delete id="deleteRoleById">
        delete from role where role_id=#{roleId}
    </delete>

    <update id="updateRole">
        update role
        <set>
            <if test="roleName!=null">role_name=#{roleName},</if>
            <if test="roleRoleId!=null">role_role_id=#{roleRoleId},</if>
            <if test="roleDesc!=null">role_desc=#{roleDesc}</if>
        </set>
        where role_id=#{roleId}
    </update>


    <insert id="saveRole">
        insert into role(
        <trim suffixOverrides=",">
            <if test="roleName != null and roleName!=''">role_name,</if>
            <if test="roleDesc != null and roleDesc!=''">role_desc,</if>
            <if test="roleRoleId != null and  roleRoleId!=''">role_role_id</if>
        </trim>
        )
        values(
        <trim suffixOverrides=",">
            <if test="roleName != null and roleName!=''">#{roleName},</if>
            <if test="roleDesc != null and roleDesc!=''">#{roleDesc},</if>
            <if test="roleRoleId != null and  roleRoleId!=''">#{roleRoleId}</if>
        </trim>
        )
    </insert>



    <select id="findRoleById" resultType="Role">
        select * from role where role_id=#{roleId}
    </select>


</mapper>