<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/layui/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label">发布领养ID：</label>
        <div class="layui-input-block">
            <input type="text" readonly name="adoptId"   th:value="${adopt.adoptId}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用户ID</label>
        <div class="layui-input-block">
            <input type="text" readonly name="adoptUserId" th:value="${adopt.adoptUserId}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block">
            <input type="text" readonly name="adoptType" th:value="${adopt.adoptType}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">发布信息</label>
        <div class="layui-input-block">
        <input type="text" readonly   name="adoptMessage" th:value="${adopt.adoptMessage}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">发布时间</label>
        <div class="layui-input-block">
            <input type="text" readonly name="adoptTime" th:value="${adopt.adoptTime}"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否是救援队</label>
        <div class="layui-input-block">
            <input type="text" readonly name="adoptPethelps" th:value="${adopt.adoptPethelps}"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">审核状态</label>
        <div class="layui-input-block">
            <input type="text" readonly name="adoptReview" th:value="${adopt.adoptReview}"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">逻辑删除</label>
        <div class="layui-input-block">
            <input type="text" readonly name="adoptDel" th:value="${adopt.adoptDel}"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">审核人ID</label>
        <div class="layui-input-block">
            <input type="text" readonly name="adoptAdminId" th:value="${adopt.adoptAdminId}"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">审核时间</label>
        <div class="layui-input-block">
            <input type="text" readonly name="adoptDisposetime" th:value="${adopt.adoptDisposetime}"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">关闭</button>
        </div>
    </div>
</div>
<script src="/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$,
            laydate = layui.laydate;

        form.on('submit(saveBtn)', function (data) {

                    parent.layer.closeAll();

                });
        return false;
            });

</script>
</body>
</html>