<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/layui/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">宠物名</label>
        <div class="layui-input-block">
            <input type="text" name="petName" lay-verify="required" lay-reqtext="宠物名不能为空" placeholder="请输入宠物名" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">宠物类型</label>
        <div class="layui-input-block">
            <select name="pettypeId" lay-filter="aihao">
                <option value=""></option>
                <option value="1">狗</option>
                <option value="2">猫</option>
                <option value="3">鼠</option>
                <option value="4">蛇</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">品种名称</label>
        <div class="layui-input-block">
            <input type="text" name="pettypeName" lay-verify="required" lay-reqtext="品种名称不能为空" placeholder="请输入品种名称" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">宠物性别</label>
        <div class="layui-input-block">
            <input type="radio" name="petSex" value="0" title="妹妹" >
            <input type="radio" name="petSex" value="1" title="弟弟">
            <input type="radio" name="petSex" value="2" title="保密">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">宠物年龄</label>
        <div class="layui-input-block">
            <input type="text" name="petAge" lay-verify="required" lay-reqtext="宠物年龄不能为空" placeholder="请输入宠物年龄" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">宠物图片</label>
        <div class="layui-input-block">
            <input type="text" name="petImg" lay-verify="required" lay-reqtext="宠物图片不能为空" placeholder="请输入宠物图片" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form','laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$,
            laydate = layui.laydate;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            parent.layer.load(1, {shade: [0.1,'#fff'] });//开启遮罩

            $.post("/pet/savePet",data.field,function(res){
                var index = parent.layer.alert(res.msg, function () {
                    //刷新表格
                    parent.tab.reload();
                    // 关闭弹出层
                    parent.layer.close(index);
                    parent.layer.closeAll();
                });

            },"json");
            return false;
        });

    });
</script>
</body>
</html>