<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/layui/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label ">用户名：</label>
        <div class="layui-input-block">
            <input type="text" readonly    th:value="${user.userName}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <select th:switch="${user.userSex}">
                <option th:case="0" >女</option>
                <option th:case="1" >男</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label ">年龄</label>
        <div class="layui-input-block">
            <input type="text" readonly  th:value="${user.userAge}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label ">电话</label>
        <div class="layui-input-block">
            <input type="text" readonly  th:value="${user.userPhone}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label ">地址</label>
        <div class="layui-input-block">
            <input type="text" readonly th:value="${user.userAddress}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否实名认证</label>
        <div class="layui-input-block">
            <select th:switch="${user.userAutonym}">
                <option th:case="0" >未实名</option>
                <option th:case="1" >已实名</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label ">身份证号</label>
        <div class="layui-input-block">
            <input type="text" readonly  th:value="${user.userIdcard}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label ">头像</label>
        <div class="layui-input-block">
            <input type="text" readonly  th:value="${user.userHead}"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label ">其他认证</label>
        <div class="layui-input-block">
            <input type="text" readonly  th:value="${user.userApprove}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label ">宠物数量</label>
        <div class="layui-input-block">
            <input type="text" readonly  th:value="${user.userPets}"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label ">注册时间</label>
        <div class="layui-input-block">
            <input type="text" readonly  th:value="${user.userTime}"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <select th:switch="${user.userState}">
                <option th:case="0" >正常</option>
                <option th:case="1" >冻结</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">关闭</button>
        </div>
    </div>
</div>
<script src="/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$,
            laydate = layui.laydate;

        form.on('submit(saveBtn)', function (data) {
                    parent.layer.closeAll();
                });
        return false;
            });

</script>
</body>
</html>