<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/layui/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
<div class="layui-form-item">
    <label class="layui-form-label required">权限名称</label>
    <div class="layui-input-block">
        <input type="text" name="systemName" lay-verify="required" lay-reqtext="权限名称为空" placeholder="请输入权限名称" value="" class="layui-input">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label required">图标</label>
    <div class="layui-input-block">
        <input type="text" name="systemIco" lay-verify="required" lay-reqtext="图标不能为空" placeholder="请输入图标" value="" class="layui-input">
    </div>
</div>
    <div class="layui-form-item">
        <label class="layui-form-label required"> URL（权限路径）</label>
        <div class="layui-input-block">
            <input type="text" name="systemUrl" lay-verify="required" lay-reqtext=" URL（权限路径）不能为空" placeholder="请输入 URL（权限路径）" value="" class="layui-input">

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">父级ID（上级权限ID）</label>
        <div class="layui-input-block">
            <input type="text" name="systemParentId" lay-verify="required" lay-reqtext="父级ID（上级权限ID）不能为空" placeholder="请输入父级ID（上级权限ID）" value="" class="layui-input">
        </div>
    </div>




    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form','laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$,
            laydate = layui.laydate;

        form.on('submit(saveBtn)', function (data) {
            parent.layer.load(1, {shade: [0.1,'#fff'] });//开启遮罩

            $.post("/system/saveSystem",data.field,function(res){
                var index = parent.layer.alert(res.msg, function () {
                    //刷新表格
                    parent.tab.reload();
                    // 关闭弹出层
                    parent.layer.close(index);
                    parent.layer.closeAll();
                });

            },"json");
            return false;
        });

    });
</script>
</body>
</html>