<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/layui/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label ">角色ID：</label>
        <div class="layui-input-block">
            <input type="text" readonly name="roleId"   th:value="${role.roleId}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label ">角色名称：</label>
        <div class="layui-input-block">
            <input type="text" readonly name="roleName"   th:value="${role.roleName}"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label ">角色权限描述：</label>
        <div class="layui-input-block">
            <input type="text" readonly name="roleDesc" th:value="${role.roleDesc}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label ">创建人ID(父级ID）：</label>
        <div class="layui-input-block">
            <input type="text" readonly name="roleRoleId" th:value="${role.roleRoleId}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
    <label class="layui-form-label ">创建时间：</label>
    <div class="layui-input-block">
        <input type="text" readonly  name="roleTime" th:value="${role.roleTime}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label ">状态（默认为0）：</label>
        <div class="layui-input-block">
            <input type="text" readonly name="roleState" th:value="${role.roleState}"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">关闭</button>
        </div>
    </div>
</div>
<script src="/layui/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$,
            laydate = layui.laydate;

        form.on('submit(saveBtn)', function (data) {

                    parent.layer.closeAll();

                });
        return false;
            });

</script>
</body>
</html>